# Xcode
*.xcodeproj
*.xcworkspace
xcuserdata/
DerivedData/
build/
.build/

# macOS
.DS_Store

# Swift Package Manager
.swiftpm/

# Project specific
sub2api/

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
